* {
    box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
  }

  .box {
    background-color: honeydew;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    min-height: 80vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

header {
    background-color: lavender;
    padding: 1rem;
    z-index: 9;
    position: sticky;
    top: 0;
}

.content {
    width: 60%;
    flex-basis: 60%;
}

.sticky-box {
    background-color: greenyellow;
    border-radius: 1rem;
    padding: 1rem;
    flex-basis: 30%;
    position: sticky;
    top:100px;
}

.sticky-box2 {
    background-color: khaki;
    border-radius: 1rem;
    padding: 1rem;
    flex-basis: 30%;
    align-self: flex-end;
    position: sticky;
    bottom: 10px;
}
